<div class="page-header">
  <h1 class="text-center">Your Ongoing Projects</h1>
</div>
<% if @projects.size > 0 %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Project Name</th>
        <th>Description</th>
        <th>Deadline</th>
      </tr>
    </thead>
    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td><%= link_to project.title, tenant_project_path(project, tenant_id: @tenant.id), class: 'main-link' %></td>
          <td><%= project.details %></td>
          <td><%= project.deadline %></td>

        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>
  <p class="lead">You haven't created any projects yet!</p>
<% end %>

<% if (@tenant.can_create_projects?) %>
  <%= link_to 'Add a New Project', new_tenant_project_path(tenant_id: @tenant.id), 
            class: 'btn btn-default btn-block tf-btn color' %>
<% end %>