/*===========================================*/
/* This is the Dark Stylesheet for Antelope Minimal Blog Template Dark Skin
/* Theme Author: ThemeForces
/* Theme URL: ThemeForces.Com
/* Created : April 22, 2015
/* Version: 1.0
==============================================*/


#top-header.layout-two, 
#tf-sliders,
#tf-content{  background: #000000;
}
.form-control{color: #f1f1f1;}
.form-control:focus {
  border-color: #969696;
}
.input-group-btn > .btn {
  background: #BE834A;
  border: 1px solid #BE834A;
}
.sidebar {
  color: black;
}

.sidebar ul.social{ background: transparent;}
.sidebar h3.media-heading a:hover{color: #be834a;}
.sidebar ul.cat a, 
.sidebar ul.links a {
  color: #f1f1f1;
}
.sidebar ul.cat li:after, 
.sidebar ul.links li:after {
  border-top: 1px solid #393939;
}

.sidebar ul.tags li a {
  border: 1px solid #666666;
  color: #f1f1f1;
}

.widget {
  background: #333031;
  border: 0;
  border: 1px solid #333031;
}
.widget h4 {
  background: #BE834A;
}
ul.social{ background: #000000}
ul.social li a i:hover {
  background: #F1F1F1;
  color: #000000;
}
ul.tags li a { color: #E8E8E8; }
h3.media-heading a { color: #A2A2A2;}
.blog-post {
  background: #333031;
  color: #ffffff;
}
.blog-post .post-detail h2 { color: #FEFEFD;}
.post-detail {
  background: #333031;
  color: #ffffff;
}

.post-detail h2, .post-detail h2 a {
  color: #FFFFFF;
}

.post-block {
  background: #333031;
}

#tf-pagination {
  background: #333031;
}
#tf-content blockquote,
.about blockquote,
.contact blockquote {
  background: #000000;
  color: #FFFFFF;
}
.author-box {
  margin-top: 20px;
  color: #f1f1f1;
}

h3.media-heading a:hover{ color: #be834a;}
.media.comment, .media.reply-comment {
  color: #f1f1f1;
    border-bottom: 1px solid #494949;
}
.about .post-block, 
.about .post-detail, 
.contact .post-block, 
.contact .post-detail {
  background: #333031;
  color: #F1F1F1;
}
.blog-post .post-detail {
  background: #333031;
  border: 0;
}
/* Layout Two*/

#top-header{
  background: #000000;
}
.layout-two .blog-post {
  color: black
}
.layout-two .blog-post .post-detail {
  background: #333031;
}
.layout-two .blog-post ul.tags li a {
  color: #f1f1f1;
}
.layout-two .blog-post ul.tags li a:hover{ color: #BE834A }
#tf-content.layout-two.about .post-block,
#tf-content.layout-two.about .post-detail,
#tf-content.layout-two.contact .post-block,
#tf-content.layout-two.contact .post-detail {
  background: #333031;
  color: #f1f1f1
}

