.project-show {
	font-size: 20px;
	margin-bottom: 40px;
}

.highlights {
  font-size: 20px;
}

.danger-div {
	background-color: #ef9a9a;
	padding: 10px 10px 10px 10px;
}

.attachment-show {
	margin-top: 60px;
}

.project-date {
	font-weight: bold;
}

.simple-calendar .day {
	font-size: 14px;
	color: #bdbdbd;
}

.simple-calendar .day .project-date{
	font-size: 14px;
	padding: 3px 3px 3px 3px;
	color: black !important;
	background-color: #ffd740;
}

.simple-calendar .today {
    background: #ffe082;
}




