<nav class="bottom-footer">
  <div class="container">
    <a href="#tf-menu" class="scroll top"><i class="fa fa-long-arrow-up"></i></a>
    
    <ul class="list-inline social"><!-- Social Share -->
      <li><%= link_to 'https://github.com/sanlouise' do %>
        <i class="fa fa-facebook"></i>
      <% end %></li>
      
      <li><%= link_to 'https://github.com/sanlouise' do %>
        <i class="fa fa-pinterest"></i>
      <% end %></li>
      
    </ul>
    
  </div>
</nav>
